body {
    background: #ffffff;
    word-wrap: break-word;
    font-size: 1em;
}

body h1 {
    text-align: center;
    color: #000000;
}

.box {
    background: grey;
    box-sizing: border-box;
    border: 2px solid black;
    max-width: 33.3%;
}

.box h2 {
    box-sizing: content-box;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 0;
    margin-bottom: 0.5em;
    width: 5em;
    text-align: center;
    float: right;
}

#title-1 {
    background: #ff0000;
}
#title-2 {
    background: #ffff00;
}
#title-3 {
    background: #008000;
}

.box p {
    clear: both;
    padding-left: 1em;
    padding-right: 1em;
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 767px) {
}
